@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    align-items:center;
   
  }

  .flexstart {
    display: flex;
    height:30px;
    align-items:center;
    justify-content: flex-start;
    padding: 15px;

  }
  #search-bar placeholder{
    align-items: center;
    color: rgba(0, 0, 0, 0.05);
  }

 .join-log {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: 10px;
 }

 #searchtab {
  color: rgba(0, 0, 0, .05);
 }
 #searchform label{
  background-color:#fb3e44;
  color: white;
  padding: 10px;
  margin: 10px;
  border: 1px black;
  border-style: solid;
 }

 #general-info {
  height: 600px;
  background-color:rgba(232,217,217,.3) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .link-btn {
    background-color:#FB3B49;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    margin: 10px;
    border: 1px black;
    border-style: solid;
    box-shadow:8px 8px 0 rgba(251,59,73,.2) ;
 }